/*
colors used:
Primary Color (LightPurple): #7500CF;
Secondary Color (DarkPurple): #490082;
Font (White): #EAEAEA;
Background (Black): #0F051C;

  font-family: 'Red Hat Display', sans-serif;
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #0F051C;
  color: #EAEAEA;
  padding: 10px 0 4px;
  margin: 0px auto;
  list-style-type: none;
  box-shadow: 0px 4px 5px 0px rgba(73, 0, 130, 0.70);
  position: fixed;
  width: 100%;
  z-index: 1;
}

main {
  padding-top: 56px;
}

body {
  background-color: #0F051C;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #EAEAEA;
}

h1, h2, h3, h4 {
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 3.25em;
  font-weight: 500;
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
  margin-top: 0;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  background-color: #0F051C;
  color: #EAEAEA;
  text-decoration: underline;
}

a:visited {
  background-color: #0F051C;
  color: #EAEAEA;
}

a:hover,
a:focus {
  background-color: #0F051C;
  color: #7500CF;
  text-decoration: underline;
}

a:active {
  background-color: #0F051C;
  color: #490082;
}

.button {
  /* Light purple fill; dark purple border; white font */
  display: inline-block;
  background-color: #7500CF;
  color: #EAEAEA;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 8px;
  border: 4px solid #490082;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover {
  /* Dark purple fill; dark purple border; white font */
  opacity: 0.8;
  color: #EAEAEA;
  background-color: #7500CF;
  text-decoration: none;
}

.button:active {
  /* White fill; dark purple border; Light Purple font */
  color: #490082;
  background-color: #EAEAEA;
  text-decoration: none;
}

.button:visited {
  background-color: #490082;
}

.button.contact {
  background-color: #EAEAEA;
  color: #490082;
  font-weight: 700;
  text-transform: uppercase;
  border: 4px solid #7500CF;
  text-decoration: none;
}

.button.contact:hover {
  background-color: #7500CF;
  color: #EAEAEA;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button.contact:active {
  background-color: #EAEAEA;
  color: #490082;
  font-weight: 700;
  text-transform: uppercase;
  border: 4px solid #7500CF;
  text-decoration: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 20px;
  padding: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px;
  border-top: 1px solid rgba(73, 0, 130, 0.70);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav>ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  text-align: center;
}

nav>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #EAEAEA;
  background-color: #0F051C;
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: #EAEAEA;
  background-color: #0F051C;
  text-decoration: none;
}

nav>ul>li>a:hover nav>ul>li>a:focus {
  color: #7500CF;
  font-weight: 700;
  background-color: #0F051C;
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #490082;
  background-color: #0F051C;
  text-decoration: none;
}

#watchguideold-main {
  display: flex;
  justify-content: space-around;
  max-width: 90%;
  margin: 48px auto;
}

#tastyvegan-mainOLD {
  display: flex;
  justify-content: space-around;
  max-width: 90%;
  margin: 48px auto;
}

#watchguide-main {
  background-color: #333333;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #E4E4E4;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 8px;
}

#watchguide-main h1 {
  background-color: #333333;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.374px;
  color: #E2AB41;
  padding: 16px;
}

#watchguide-main h2 {
  background-color: #333333;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.37px;
  color: #E2AB41;
  margin-bottom: 12px;
}

#watchguide-main h3 {
  background-color: #333333;
  color: #ffffff;
  font-size: 1.25em;
  margin-bottom: 0;
}

#watchguide-main p {
  margin: 0;
}

.watchguide-img150w {
  max-width: 150px;
  margin-top: 20px;
  width: auto;
}

.watchguide-img200w {
  max-width: 200px;
  margin-top: 20px;
  width: auto;
}

.watchguide-img250w {
  max-width: 250px;
}

.watchguide-img500w {
  max-width: 500px;
  margin: 20px 5%;
}

.watchguide-img750w {
  max-width: 740px;
  margin: 20px 5%;
}

.watchguide-img750up {
  max-width: 100%;
  margin: 20px 5%;
}

#watchguide-main ul {}

.watchguide-logo {
  font-size: 32px;
  color: #E2AB41;
  font-weight: 700;
  letter-spacing: 0.37px;
}

#watchguide-opportun {}

#wgimg-sync {
  padding: 40px 0 0 65px;
}

.wgopportun {
  position: relative;
  margin-top: 10px;
}

.wgopportun-logo {
  position: absolute;
}

.wgopportun-title {
  padding-right: 31%;
  top: 0;
  text-align: right;
}

.wgflow {
  position: relative;
}

.wgflowtabs {
  position: absolute;
  top: 12%;
  width: 100%;
}

.wgflowtab1 {
  padding-bottom: 4%;
}

.wgflowtab2 {
  padding-top: 0%;
}

.wgcontainer {
  padding: 15px;
}

.wg-row {
  margin: 10px 0;
}

.wg-tvcouch {
  position: relative;
  border-radius: 74px;
  max-width: 100%;
  margin: 16px;
}

.wg-goldglow {
  position: relative;
  height: inherit;
}

.goldglowcontainer {
  position: absolute;
}

.wgglow {
  margin-bottom: -8px;
}

.glowtab {
  position: absolute;
  top: -72px;
}

.mandocheck {
  max-width: 136px;
}

.wg-figma-img {
  max-width: 250px;
}

.wg-navicon {
  min-width: 200px;
}

.wgthumb {
  max-height: 56px;
}

.swot-wg-container {
  max-width: 370px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 24px;
}

.swot-wg-cast-img {
  max-width: 100%;

}

.section-light-background {
  position: relative;
  background-color: #E4E4E4;
  color: black;
  padding: 10px 0;
}

.container80-right {
  padding-left: 20%;
  margin-bottom: 20px;
}

.container80-left {
  padding-right: 20%;
  margin-bottom: 20px;
}

.align-right {
  text-align: right;
}

.right-tab {
  border-radius: 4px 0px 0px 4px;
}

.left-tab {
  border-radius: 0px 4px 4px 0px;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.main-container {
  max-width: 90%;
  margin: 48px auto;
}

#tastyvegan-main {
  background-color: #FAF8F5;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #11081D;
  padding-top: 20px;
  border-radius: 8px;
  max-width: 1000px;
  margin: 0 auto;
}

#tastyvegan-main h2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 36px;
  line-height: 57.13px;
}

#tastyvegan-main h3 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 38.09px;
  margin-bottom: 4px;
}

#tastyvegan-main h4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 31.74px;
}

#tastyvegan-main h5 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 50.78px;
  letter-spacing: 0.15em;
  margin-top: auto;
  margin-bottom: 8px;
}

#tastyvegan-main h6 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 38.09px;
  letter-spacing: 0.5em;
  margin-top: auto;
  margin-bottom: 8px;
}

#tastyvegan-main p {
  margin-top: 2px;
}

#tastyvegan-main img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 16px;
  max-width: 1000px;
}

.section-margin {
  margin-bottom: 32px;
}

.tv-hero-img {
  max-width: 1000px;
  margin-left: 10%;
  margin-right: 10%;
}

.h2-background {
  background: linear-gradient(90deg, #E54C2A 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 16px 0px 0px 0px;
}

.persona-img {
  max-width: 676px;
  margin-left: auto;
  margin-right: auto;
}

.tv-tech-img {
  max-width: 412px;
  margin-left: auto;
  margin-right: auto;
}

.tv-mvp-features {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.tv-userstory {
  background: #D4E8D1;
  border-radius: 8px 8px 0px 0px;
}

.tv-requirements {
  background: rgba(242, 179, 164, 0.4);
  border-radius: 8px 8px 0px 0px;
  text-align: right;
}

.tv-userfeed {
  margin-left: 10%;
  margin-right: 10%;
}

.tv-type-container {
  word-wrap: break-word;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 625px;
}

.tv-type2 {
  display: flex;
  justify-content: flex-end;
  overflow-wrap: anywhere;
}

#tv-logo-imgs {
  max-width: 152px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
}

.tv-imgs800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#hero {
  color: #EAEAEA;
  padding: 8px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  margin: 0;
}

#hero-index {
  background-color: #7500CF;
}

#work h2 {
  margin-top: 1em;
  margin-bottom: .5em;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(73, 0, 130, 0.70);
}

#work h3 {
  text-align: left;
  margin-top: 0;
}

#work p {
  text-align: left;
}

#Contact {
  text-align: center;
  padding-top: 10px;
}

[class*="col-"] {
  padding: 10px;
}

.col-sm-12 {
  width: 100%;
}

.col-sm-popup-12 {
  width: 250px;
}

.logo {
  max-width: 150px;
  max-height: 48px;
}

.hero-animation-stage {
  display: flex;
  height: 100%;
  width: 100%;
}

.hero-animation {
  align-self: flex-end;
  max-width: 160px;
  position: relative;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  margin: 0 auto 0 auto;
}

.wobble {
  animation-name: wobble;
  animation-timing-function: ease;
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }

  10% {
    transform: translateX(-5%) rotate(-20deg);
  }

  30% {
    transform: translateX(5%) rotate(10deg);
  }

  45% {
    transform: translateX(-3%) rotate(-5deg);
  }

  60% {
    transform: translateX(2%) rotate(3deg);
  }

  75% {
    transform: translateX(-1%) rotate(-2deg);
  }

  100% {
    transform: translateX(0%);
  }
}

#social-icon-flex {
  display: flex;
  position: sticky;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: row;
}

.social-icon {
  position: relative;
  min-width: 48px;
  min-height: 48px;
  max-width: 96px;
  max-height: 96px;
  padding-left: 8px;
  padding-right: 8px;
}

.project-covers {
  max-width: 75%;
}

/* ==============================
Sm/Md devices (430px and larger)
================================= */
@media only screen and (min-width: 430px) {


  #tv-logo-imgs {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  #myNavtoggle {
    min-width: 641px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    border-top: none;
    padding: 0;
  }

  .navtoggle li .icon {
    font-size: 17px;
  }

  #hero {
    margin-top: 96px;
  }

  #hero-animation {
    background-color: #7500CF;
  }

  #hero span {
    display: block;
  }

  h1 {
    font-size: 4em;
  }

  .logo {
    max-width: 200px;
  }

  .hero-animation-stage {
    display: block;
    padding-top: 120px;
    height: 100%;
  }

  .hero-animation {
    max-width: 160px;
    position: relative;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transform-origin: bottom;
    margin: 0 auto 0 0;
  }

  .hero-animation:hover {
    animation-name: wobble;
    animation-iteration-count: 1;
  }

  .bounce {
    animation-name: bounce;
    animation-timing-function: ease;
  }

  @keyframes bounce {
    0% {
      transform: scale(1, 1) translateY(0);
    }

    10% {
      transform: scale(1.1, .9) translateY(0);
    }

    30% {
      transform: scale(.9, 1.1) translateY(-75px);
    }

    50% {
      transform: scale(1.05, .95) translateY(0);
    }

    57% {
      transform: scale(1, 1) translateY(-7px);
    }

    64% {
      transform: scale(1, 1) translateY(0);
    }

    100% {
      transform: scale(1, 1) translateY(0);
    }
  }

  [class*="col-"] {
    float: left;
    padding-left: 0;
    padding-right: 16px;
  }

  .col-md-6 {
    width: 50%;
  }

  .wgflow {
    position: relative;
    margin-top: 10px;
  }

  .wgflowtabs {
    position: absolute;
    top: 20px;
    width: 100%;
  }

  .wgflowtab1 {
    padding-right: 66%;
    padding-bottom: 0;
  }

  .wgflowtab2 {
    position: absolute;
    top: 0;
    padding-left: 66%;
  }

  .wg-figma-img {
    max-width: 500px;
  }

  .tv-type-container {
    word-wrap: break-word;
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  [class*="col-"] {
    float: left;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  #hero-animation {
    background-color: #7500CF;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}

/*
colors used:
Primary Color (LightPurple): #7500CF;
Secondary Color (DarkPurple): #490082;
Font (White): #EAEAEA;
Background (Black): #0F051C;

  font-family: 'Red Hat Display', sans-serif;
*/
