/*
colors used:
Primary Color (LightPurple): #7500CF;
Secondary Color (DarkPurple): #490082;
Font (White): #EAEAEA;
Background (Black): #0F051C;

  font-family: 'Red Hat Display', sans-serif;
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #0F051C;
  color: #EAEAEA;
  padding: 10px 0 4px;
  margin: 0px auto;
  list-style-type: none;
  box-shadow: 0px 4px 5px 0px rgba(73, 0, 130, 0.70);
  position: fixed;
  width: 100%;
  z-index: 1;
}

main {
  padding-top: 56px;
}

body {
  background-color: #0F051C;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #EAEAEA;
}

h1, h2, h3, h4 {
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 3.25em;
  font-weight: 500;
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
  margin-top: 0;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
  border-radius: 8px;
}

a {
  background-color: #0F051C;
  color: #EAEAEA;
  text-decoration: underline;
}

a:visited {
  background-color: #0F051C;
  color: #EAEAEA;
}

a:hover,
a:focus {
  background-color: #0F051C;
  color: #7500CF;
  text-decoration: underline;
}

a:active {
  background-color: #0F051C;
  color: #490082;
}

.button {
  /* Light purple fill; dark purple border; white font */
  display: inline-block;
  background-color: #7500CF;
  color: #EAEAEA;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 8px;
  border: 4px solid #490082;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover {
  /* Dark purple fill; dark purple border; white font */
  opacity: 0.8;
  color: #EAEAEA;
  background-color: #7500CF;
  text-decoration: none;
}

.button:active {
  /* White fill; dark purple border; Light Purple font */
  color: #490082;
  background-color: #EAEAEA;
  text-decoration: none;
}

.button:visited {
  background-color: #490082;
}

.button.contact {
  background-color: #EAEAEA;
  color: #490082;
  font-weight: 700;
  text-transform: uppercase;
  border: 4px solid #7500CF;
  text-decoration: none;
}

.button.contact:hover {
  background-color: #7500CF;
  color: #EAEAEA;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button.contact:active {
  background-color: #EAEAEA;
  color: #490082;
  font-weight: 700;
  text-transform: uppercase;
  border: 4px solid #7500CF;
  text-decoration: none;
}

/*Why is #myNavtoggle  here? I am not sure what purpose this currently serves.*/
#myNavtoggle {}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 20px;
  padding: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px;
  border-top: 1px solid rgba(73, 0, 130, 0.70);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav>ul {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  text-align: center;
}

nav>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #EAEAEA;
  background-color: #0F051C;
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: #EAEAEA;
  background-color: #0F051C;
  text-decoration: none;
}

nav>ul>li>a:hover nav>ul>li>a:focus {
  color: #7500CF;
  font-weight: 700;
  background-color: #0F051C;
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #490082;
  background-color: #0F051C;
  text-decoration: none;
}

#watchguide-main {
  display: flex;
  justify-content: space-around;
  max-width: 90%;
  margin: 48px auto;
}


#tastyvegan-main {
  display: flex;
  justify-content: space-around;
  max-width: 90%;
  margin: 48px auto;
}

#watchguide-copy-main{
  background-color: #333333;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: Black;
  max-width: 90%;
  margin: 48px auto;
}

#watchguide-copy-main h1 {
  background-color: #333333;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.374px;
  color: #E2AB41;
  padding: 16px;
}

#watchguide-copy-main h2 {
  background-color: #333333;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.37px;
  color: #E2AB41;
}

#watchguide-copy-main h3 {
  background-color: #333333;
  color: #ffffff;
  font-size: 1.25em;
}

#watchguide-copy-palette {
  max-width: 458px;
  position: static;
}


.section-light-background {
  background-color: rgba(255, 255, 255, 0.87);
  color: black;
  padding: 10px;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero {
  color: #EAEAEA;
  padding: 8px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  margin: 0;
}

#hero-index {
  background-color: #7500CF;
}

#work h2 {
  margin-top: 1em;
  margin-bottom: .5em;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(73, 0, 130, 0.70);
}

#work h3 {
  text-align: left;
  margin-top: 0;
}

#work p {
  text-align: left;
}

#Contact {
  text-align: center;
  padding-top: 10px;
}

[class*="col-"] {
  padding: 10px;
}

.col-sm-12 {
  width: 100%;
}

.logo {
  max-width: 150px;
  max-height: 48px;
}

.hero-animation-stage {
  display: flex;
  height: 100%;
  width: 100%;
}

.hero-animation {
  align-self: flex-end;
  max-width: 160px;
  position: relative;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  margin: 0 auto 0 auto;
}

.wobble {
  animation-name: wobble;
  animation-timing-function: ease;
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }

  10% {
    transform: translateX(-5%) rotate(-20deg);
  }

  30% {
    transform: translateX(5%) rotate(10deg);
  }

  45% {
    transform: translateX(-3%) rotate(-5deg);
  }

  60% {
    transform: translateX(2%) rotate(3deg);
  }

  75% {
    transform: translateX(-1%) rotate(-2deg);
  }

  100% {
    transform: translateX(0%);
  }
}

#social-icon-flex {
  display: flex;
  position: sticky;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: row;
}

.social-icon {
  position: relative;
  min-width: 48px;
  min-height: 48px;
  max-width: 96px;
  max-height: 96px;
  padding-left: 8px;
  padding-right: 8px;
}

.project-covers {
  max-width: 75%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  #myNavtoggle {
    min-width: 641px
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    border-top: none;
    padding: 0;
  }

  .navtoggle li .icon {
    font-size: 17px;
  }

  #hero {
    margin-top: 96px;
  }

  #hero-animation {
    background-color: #7500CF;
  }

  #hero span {
    display: block;
  }

  h1 {
    font-size: 4em;
  }

  .logo {
    max-width: 200px;
  }

  .hero-animation-stage {
    display: block;
    padding-top: 120px;
    height: 100%;
  }

  .hero-animation {
    max-width: 160px;
    position: relative;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transform-origin: bottom;
    margin: 0 auto 0 0;
  }

  .hero-animation:hover {
    animation-name: wobble;
    animation-iteration-count: 1;
  }

  .bounce {
    animation-name: bounce;
    animation-timing-function: ease;
  }

  @keyframes bounce {
    0% {
      transform: scale(1, 1) translateY(0);
    }

    10% {
      transform: scale(1.1, .9) translateY(0);
    }

    30% {
      transform: scale(.9, 1.1) translateY(-75px);
    }

    50% {
      transform: scale(1.05, .95) translateY(0);
    }

    57% {
      transform: scale(1, 1) translateY(-7px);
    }

    64% {
      transform: scale(1, 1) translateY(0);
    }

    100% {
      transform: scale(1, 1) translateY(0);
    }
  }

  [class*="col-"] {
    float: left;
    padding-left: 0;
    padding-right: 16px;
  }

  .col-md-6 {
    width: 50%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  [class*="col-"] {
    float: left;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  #hero-animation {
    background-color: #7500CF;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}

/*
colors used:
Primary Color (LightPurple): #7500CF;
Secondary Color (DarkPurple): #490082;
Font (White): #EAEAEA;
Background (Black): #0F051C;

  font-family: 'Red Hat Display', sans-serif;
*/
