/*
colors used:
Primary Color (LightPurple): #7500CF;
Secondary Color (DarkPurple): #490082;
Font (White): #EAEAEA;
Background (Black): #0F051C;

  font-family: 'Red Hat Display', sans-serif;
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #0F051C;
  color: #EAEAEA;
  padding: 10px 0;
  margin: 0px auto;
  text-align: center;
  list-style-type: none;
  box-shadow: 0px 4px 5px 0px rgba(73, 0, 130, 0.70);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 160px;
}

body {
  background-color: #0F051C;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #EAEAEA;
}

h1, h2, h3, h4 {
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 3.25em;
  font-weight: 500;
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  background-color: #0F051C;
  color: #EAEAEA;
  text-decoration: underline;
}

a:visited {
  background-color: #0F051C;
  color: #EAEAEA;
}

a:hover,
a:focus {
  background-color: #0F051C;
  color: #7500CF;
  text-decoration: underline;
}

a:active {
  background-color: #0F051C;
  color: #490082;
}

.button {
  display: inline-block;
  background-color: #7500CF;
  color: #EAEAEA;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 3px;
  border: 4px solid #490082;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover {
  color: #EAEAEA;
  background-color: #490082;
  text-decoration: none;
}

.button:active {
  color: #490082;
  background-color: #EAEAEA;
  text-decoration: none;
}

.button.contact {
  background-color: #EAEAEA;
  color: #490082;
  font-weight: 700;
  text-transform: uppercase;
  border: 4px solid #7500CF;
  text-decoration: none;
}

.button.contact:hover {
  background-color: #7500CF;
  color: #EAEAEA;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button.contact:active {
  background-color: #EAEAEA;
  color: #490082;
  font-weight: 700;
  text-transform: uppercase;
  border: 4px solid #7500CF;
  text-decoration: none;
}

#watchguide-main {
  background-color: #333333;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: Black;
  max-width: 90%;
  margin: 48px auto;
}

#watchguide-main h1 {
  background-color: #333333;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 3.8em;
  font-weight: 700;
  letter-spacing: 0.374px;
  color: #E2AB41;
  padding: 48px;
}

#watchguide-main h2 {
  background-color: #333333;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.37px;
  color: #E2AB41;
}

#watchguide-main h3 {
  background-color: #333333;
  color: #ffffff;
  font-size: 1.5em;
}

.section-light-background {
  background-color: rgba(255, 255, 255, 0.87);
  color: black;
  padding: 10px;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#hero {
  background-color: #0F051C;
  color: #EAEAEA;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a
}

#work h3 {
  text-align: center;
  /* Centers text */
}

#work p {
  text-align: center;
  /* Centers text */
}

#contact {
  text-align: center;
  padding-top: 10px;
}

.logo {
  max-width: 250px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #EAEAEA;
  background-color: #0F051C;
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: #EAEAEA;
  background-color: #0F051C;
  text-decoration: none;
}

nav>ul>li>a:hover
nav>ul>li>a:focus{
  color: #7500CF;
  font-weight: 700;
  background-color: #0F051C;
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #490082;
  background-color: #0F051C;
  text-decoration: none;
}

.social-icons {
  max-width: 100px;
}

.project-covers {
  max-width: 75%;
}

#watchguide-palette {
  max-width: 458px;
  position: static;
}

/*
colors used:
Primary Color (LightPurple): #7500CF;
Secondary Color (DarkPurple): #490082;
Font (White): #EAEAEA;
Background (Black): #0F051C;

  font-family: 'Red Hat Display', sans-serif;
*/
